main{
    height: 100vh;

}
.box{
    background-color: rgba(78, 78, 78, 0.932);
    width: 75vw;
    height: 100vh;
    position: relative;
    left: 12%;
    /* top: 25%; */
    text-align: center;
    border-radius: .5rem;
    /* border: 2px solid #73AD21; */
}
.logo1{
    width: 30rem;
    padding-top: .5rem;
}
.sub-box{
    position: relative;
    top: 10vh;
}
.sub-box > h1{
    /* font-size: 50%; */
    color: white;
}

.sub-box > input{
    margin-bottom: 1.5rem;
}
.dungeonvid{
    position: absolute;
    width: 100%;
    height: 100vh;
}
.sso{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
}

.google{
    width: 15vw;
    height: 10vh;
    background-color: rgb(255, 81, 0);
    display: flex;
    flex-direction: row;
    position: relative;
    border-radius: 10px;
    margin: 0 1rem;
}

.google > p{
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    color: #ffff;
    margin-left: 20%;
}

.googlelogo{
    width: 3.5rem;
    height: 3.5rem;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.googlelogo >img{
    width: 2.8rem;
    height: 2.8rem;
    margin-left: 5px;
}
.fb{
    width: 15vw;
    height: 10vh;
    background-color: #2f55a4;
    display: flex;
    flex-direction: row;
    position: relative;
    border-radius: 10px;
    margin: 0 1rem;
}
.fb > p{
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    color: #ffff;
    margin-left: 20%;
}
.fblogo{
    width: 3.5rem;
    height: 3.5rem;
    background-color: rgb(1, 59, 145);
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.fblogo >img{
    width: 2.8rem;
    height: 2.8rem;
    margin-left: 5px;
}

label{
    color: white;
    font-weight: bold;
}

.register{
    background-color: #000000; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    display: inline-block;
    font-size: 16px;
}
