body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(51, 51, 51, 0.61);
}
html{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.logo{
    width: 20rem;

}
.header{
    display:flex;
    padding: 1rem 0;
}

header {
  overflow: hidden;
  background-color: #333;
  scroll-snap-align: start;
}

header ul {
  /* float: left; */
  /* display: block; */
  display: flex;
  /* text-align: center; */
  /* padding: 14px 16px; */
  text-decoration: none;
  justify-content: center;
}

header ul > li{
    list-style: none;
    margin-left: 6rem;
    
}

header ul > li > a{
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2rem 4rem
}

header a:hover {
  background-color: #ddd;
  /*navbar border*/
  background-image:linear-gradient(to right, rgba(53, 48, 48, 0.507),white,rgba(53, 48, 48, 0.507) );
  color: black;
}

header a.active {
  background-color: #04AA6D;
  color: white;
}

header .icon {
  display: none;
}

/* .container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
} */

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -10;
}

iframe {
  border: none;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%; 
  height: 100%;
  z-index: -10;
}

.main {
  /* scroll-snap-align: start; */
  width:100%;
  height: 100vh;
  text-align: center;
  bottom: 0;
  position: relative;
}

.main .icon > img {
  width: 10rem;
}

/* .ontop{
  position: relative;
} */
.platform{
  background: rgb(51, 51, 51, 0.7);
  margin: 5rem;
}
  .platform >  {
    padding: 1rem 1rem;
    margin: 1rem 1rem;
  }
  .platform > p{
    color: white;
    text-transform: full-size-kana;
  }

.text-container{
  padding: 6rem;
}

.character{
  scroll-snap-align: start;
  /* background-color: #ddd; */
  width: 100%;
  height: 100vh;
}
.character-image{
  background-image: url("/assets/chars/ayaka_genshin_impact_transparent_render_png_by_deg5270_denwb5a-fullview.png");
  /* background-color: #cccccc; */
  height: 100%;
  /* width: 50%; */
  background-position: left 8vw top ; 
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 0 5% 0;
}
.about {
  scroll-snap-align: start;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height:  100vh;
  background-color: rgb(192, 189, 189);
  background-image: url("/assets/20211230131811.png")
}


.text-container > h1 {
  margin-bottom: 5vh;
  margin-top: 5vh;
  color: #fff;
  position: relative;
  font-size: 8vw;
  font-weight: bold;
  text-shadow: 0  0 16px #000; 
}

.text-container > p{
  background-color: rgba(5, 5, 5, 0.7);
  margin-right: 35vw;
  text-align: start;
  color : #fff;
  position: relative;
  font-size: 2vh;
  margin-left: 5vw; 
  opacity: 1;
}

.system {
  scroll-snap-align: start;
  background-color: rgb(192, 189, 189);
  height: 100vh;
  background-image: url("/assets/genshin-impact-diluc-build-best.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
  /* background-transform: scaleX(-1);; */
}
.game {
  height: 100vh;
  scroll-snap-align: start; 
  background-color: rgb(29, 29, 29);
}
.game .text-container h1{
  margin-top: 0;
  margin-bottom: 1vh;
}
.game .text-container .center{
  display: flex;
  justify-content: center;
}
.game .text-container .center .carousel-container{
  width: 100vh;
  margin: 0;
}

footer{
    width:100%;
    text-align: center;
    bottom: 0;
    position: relative;
    background-color:#333;
    padding: 1rem 0;
    scroll-snap-align: end;
}

.icon{
    padding: 1rem 0;
}

.icon > img{
    width: 12rem;
    margin: 0 1rem;

}

.wording > pre{
    color: #ffff;
}

@media screen and (max-width: 980px) {
    header a:not(:first-child) {display: none;}
    header a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 980px) {
    header.responsive {position: relative;}
    header.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  header.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}